{% extends 'base.html' %}

{% block body %}
    <div class="row">
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>
    <div>test</div>
    <div id="login-container">
        {% if message %}
            {{ message }}
        {% endif %}
        <a href="{% url 'social:begin' 'drchrono' %}"
           id="login-container__button">
            Login
        </a>

    </div>


{% endblock %}

{#<!DOCTYPE html>#}
{#<html>#}
{#<body>#}
{#<a href="{% url 'social:begin' 'drchrono' %}">#}
{#    Set up your Check-in kiosk by logging into drchrono!#}
{#</a>#}
{#</body>#}
{#</html>#}
