{% extends 'drchrono/base.html' %}
{% load drchrono_tags %}

{% block body %}
    <style>
        body {
            background: #f4f4f4;
        }

    </style>
    <div class="checkin-header">
        <h2 class="checkin">Patient Check-in</h2>
    </div>
    <div class="checkin-container">
        <form action="" method="POST" class="checkin">{% csrf_token %}
            {% form_errors form %}
            <div class="row">
                <div class="col">
                    <fieldset class="border checkin">
                        <legend class="w-auto">First Name</legend>
                        {{ form.first_name }}
                    </fieldset>
                </div>
                <div class="col">
                    <fieldset class="border checkin">
                        <legend class="w-auto">Last Name</legend>
                        {{ form.last_name }}
                    </fieldset>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <fieldset class="border checkin">
                        <legend class="w-auto">Race</legend>
                        {{ form.race }}
                    </fieldset>
                </div>
                <div class="col">
                    <fieldset class="border checkin">
                        <legend class="w-auto">Ethnicity</legend>
                        {{ form.ethnicity }}
                    </fieldset>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <fieldset class="border checkin">
                        <legend class="w-auto">Social Security Number</legend>
                        {{ form.social_security_number }}
                    </fieldset>
                </div>
                <div class="col">
                    <fieldset class="border checkin">
                        <legend class="w-auto">Date of Birth</legend>
                        {{ form.date_of_birth }}
                    </fieldset>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary checkin">
                Update and Check-in
            </button>
        </form>
    </div>
{% endblock %}
