#login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

    #login-container__box {

    }

    #login-container__button {
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        padding: 0.5rem 1rem;
        background: #110f50;
    }
